{extend name="common/base" /}
{block name="title"}文章列表 - {__block__}{/block}

{block name="content"}

  <div class="row">
    <div class="col-md-3">
      <div class="visible-md visible-lg">
        <div class="panel panel-custom">
          <div class="panel-heading">热门文章</div>
          <div class="list-group list-group-flush">
            <a href="./内容页.html" class="list-group-item">如何防止服务器攻击</a>
            <a href="./内容页.html" class="list-group-item">如何防止服务器攻击</a>
            <a href="./内容页.html" class="list-group-item">如何防止服务器攻击</a>
            <a href="./内容页.html" class="list-group-item">如何防止服务器攻击</a>
            <a href="./内容页.html" class="list-group-item">如何防止服务器攻击</a>
          </div>
        </div>
      </div>

      <div class="category-index" data-url="{:url('ajax_category_index')}"></div>

    </div>
    <div class="col-md-9">
      <ol class="breadcrumb">
        <li><a href="{:url('homepage')}">首页</a></li>
        <li class="active">文章列表</li>
        {if $currcategory}
        	<li class="active">{$currcategory->name}</li>
        {/if}
      </ol>
      <div class="post-list list-group">
	      {foreach $articles as $article }
        	{include file="common/widget/article-item"}
	      {/foreach}
      </div>
      
      {$page|raw}
    </div>
  </div>

{/block}
